.img-container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  height: 100px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
