.badge-class {
  background: -webkit-linear-gradient(
    to right,
    #24aeee,
    #3697d8,
    #3670dd,
    #5945b4
  );
  background: linear-gradient(to right, #24aeee, #3697d8, #3670dd, #5945b4);
  padding: 10px;
}
